{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese"
    rel='stylesheet' type='text/css'>

  <script src="/static/js/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/js/bower_components/d3/d3.min.js"></script>
  <script src="/static/js/bower_components/d3-transform/src/d3-transform.js"></script>
  <script src="/static/js/bower_components/cafej/src/ext-array.js"></script>
  <script src="/static/js/bower_components/cafej/src/misc.js"></script>
  <script src="/static/js/bower_components/cafej/src/micro-observer.js"></script>
  <script src="/static/js/bower_components/microplugin/src/microplugin.js"></script>
  <script src="/static/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
  <script
    src="/static/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js">
  </script>
  <script src="/static/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
  {% autoescape off %}
  <script>
    $(document).ready(function () {
    var bubbleChart = new d3.svg.BubbleChart({
    supportResponsive: true,
    //container: => use @default
    size: 600,
    //viewBoxSize: => use @default
    innerRadius: 600 / 3.5,
    //outerRadius: => use @default
    radiusMin: 50,
    //radiusMax: use @default
    //intersectDelta: use @default
    //intersectInc: use @default
    //circleColor: use @default
    data: {
    items:{{ bubble }},
    eval: function (item) {return item.count;},
    classed: function (item) {return item.text.split(" ").join("");}
    },
    plugins: [
    {
    name: "central-click",
    options: {
    text: "(키워드 클릭하면 이동!)",
    style: {
    "font-size": "12px",
    "font-style": "italic",
    "font-family": "Source Sans Pro, sans-serif",
    //"font-weight": "700",
    "text-anchor": "middle",
    "fill": "white"
    },
    attr: {dy: "65px"},
    
    centralClick: function(e) {
      // 클릭시 알람 뜨게 만듬!
      console.log(e)
      console.log(e.text)
      let date = '{{ date|safe }}'
      //window.open("{#% url 'tot:youtube' %}?date={{date}}&text=(e.text)", 
      //"유튜브","width=200", "height=200");
      window.location.href = '/youtube?date=' + date + '&' + 'text=' + e.text;
    }
    }
    },
    {
    name: "lines",
    options: {
    format: [
    {// Line #0
    textField: "count",
    classed: {count: true},
    style: {
    "font-size": "28px",
    "font-family": "Source Sans Pro, sans-serif",
    "text-anchor": "middle",
    fill: "white"
    },
    attr: {
    dy: "0px",
    x: function (d) {return d.cx;},
    y: function (d) {return d.cy;}
    }
    },
    {// Line #1
    textField: "text",
    classed: {text: true},
    style: {
    "font-size": "14px",
    "font-family": "Source Sans Pro, sans-serif",
    "text-anchor": "middle",
    fill: "white"
    },
    attr: {
    dy: "20px",
    x: function (d) {return d.cx;},
    y: function (d) {return d.cy;}
    }
    }
    ],
    centralFormat: [
    {// Line #0
    style: {"font-size": "50px"},
    attr: {}
    },
    {// Line #1
    style: {"font-size": "30px"},
    attr: {dy: "40px"}
    }
    ]
    }
    }]
    });
    });
  </script>
    {% endautoescape %}
  <style>
  .bubbleChart {
    min-width: 100px;
    max-width: 100%;
    height: 700px;
    margin: 0 auto;
  }

  .bubbleChart svg {
    background: #000000;
  }
</style>
</head>
<body>
  <body style="background: #000000">
    <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand text-white" href="{% url 'tot:index' %}">trend of tracer</a>
    </nav>
    <div class="bubbleChart" />
  </body>







  <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>
</html>

